.page1 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url(kyotofizz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "UniqueRegular";
    color: white;
    font-weight: normal;
    letter-spacing: 15px;
    font-size: 70px;
}

p {
    font-family: "DatalegreyaThin";
    color: white;
}

.grid-container {
    flex-basis: 95%;
    height: 95%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 20px;
}

.grid-container div {
    color: white;
}

.box7 {
    background-image: url("light-particles/lightparticle7.png");
    background-size: contain;
}

.box8 {
    background-image: url("light-particles/lightparticle8.png");
    background-size: contain;
}

.box9 {
    background-image: url("light-particles/lightparticle9.png");
    background-size: contain;
}