
@font-face {
    font-family: 'caviar_dreamsregular';
    src: url("fonts/caviardreams-webfont.woff") format('woff2'),
         url('fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.page1 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url(kyotofizz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    flex-basis: 95%;
    height: 95%;
    display: grid;
    grid-template: 1fr 1fr 2fr / repeat(3, 1fr);
    gap: 20px;
}

.header {
    grid-column: 1;
    grid-row: 1 / 3;
}

.header {
    color: rgb(255, 246, 234);
    font-family: "caviar_dreamsregular";
    font-size: 4rem;
    letter-spacing: 10px;
    text-align: start;
    position: relative;
    left: 50px;
    line-height: 1.5;
}

h1 {
    padding: 0;
}

.smaller {
    font-size: 2rem;
}


.description {
    color: rgb(255, 246, 234);
    font-family: "DatalegreyaThin";
    position: relative;
    left: 50px;
    font-size: 1.2rem;
    letter-spacing: 4px;
    margin: 0;
}

.box4 {
    background-image: url("light-particles/lightparticle4.png");
    background-size: contain;
    grid-column: 1;
    grid-row: 2;
}

.box5 {
    background-image: url("light-particles/lightparticle5.png");
    background-size: contain;
    grid-column: 2;
    grid-row: 2;
}

.box6 {
    background-image: url("light-particles/lightparticle6.png");
    background-size: contain;
    grid-column: 3;
    grid-row: 2;
}

.box7 {
    background-image: url("light-particles/lightparticle7.png");
    background-size: contain;
    grid-column: 1;
    grid-row: 3;
}

.box8 {
    background-image: url("light-particles/lightparticle8.png");
    background-size: contain;
    grid-column: 2;
    grid-row: 3;
}

.box9 {
    background-image: url("light-particles/lightparticle9.png");
    background-size: contain;
    grid-column: 3;
    grid-row: 3;
}