.page1 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    background-image: url(kyotofizz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "DatalegreyaThin";
    color: white;
    font-weight: bold;
    letter-spacing: 15px;
    font-size: 70px;
}